* {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1300px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.SearchBar {
  width: 100%;
  margin-top: 10px;
}

.SearchContainer {
  width: 40%;
}

.PackageFactoryContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.SearchPanelContainer {
  display: flex;
  flex-direction: column;
  border: 0.5px dotted #72bda3;
  text-overflow: ellipsis;
  max-height: 750px;
  overflow: hidden;
  white-space: nowrap;
}

.SearchProductContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
}

.ProductButton {
  background-color: #72bda3;
  color: white;
  border-radius: 15px;
  height: 80%;
}

.SelectedProductsPanelContainer {
  height: 475px;
  width: 45%;
}

.InnerSelectedProductsPanel {
  height: 450px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: space-between;
  border-top: 7px solid #72bda3;
  border-bottom: 7px solid #72bda3;
}

.ProductName {
  margin: 0;
}

.ProductDimensions {
  margin: 0;
}

.ProductInfo {
  margin-top: 10px;
}

.SelectedProductsTitle p {
  display: inline-block;
  font-weight: bolder;
}

.SelectedProductsTitle {
  display: flex;
align-items: center;
justify-content: space-between;
}

.SelectedProductsTitleButton {
  width: 20%;
  border-radius: 15px;
  background-color: #72bda3;
  color: white;
  height: 45px;
  font-size: 15px;
}

.SelectedProductContainer p {
  text-align: center;
  margin: 5px 0 0 0;
  
}

.SelectedProductContainerName {
font-size: 12px;
text-decoration: underline;
}

.SelectedProductContainerSize {
font-size: 10px;
}

.PackagesContainer {
  display: flex;
  padding: 0 3%;
}

.PackageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3%;
  padding: 15px;
  border: 1px solid #72bda3;
  width: 32%;
}

.SuggestedPackagesTitle {
  text-align: center;
  margin: 75px 0 35px;
}

.BoxImage {
  width: auto;
}

.PackagedBoxSize {
  margin: 10px 0 0 0;
}

.PackagedItemList {
  display: flex;
  flex-wrap: wrap;
}

.PackagedItem {
  text-align: center;
  margin-right: 20px;
  border: 1px dotted black;
}

.PackagedItem p {
  padding: 5px;
}

.BoxTypeSelectorContainer {

}

.BoxTypeSelector {
}

.ItemLimitsContainer {
  display: flex;
  align-items: flex-end;
  margin-left: 30px
}

.ItemLimit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
}

.ItemLimit h5 {
  font-weight: bolder;
  text-decoration: underline;
}

label {
  font-size: 12px;
}